swagger: '2.0'

info:
  version: "1.0.2"
  title: "MTBD Rest Services"
  description:  DiGiSENSE Rest Services provides functional api extensions to DiGiSENSE Platform

host: mahindradigisense.com
basePath: /api
schemes:
  - https
consumes:
  - application/json
  - image/png
  - image/jpeg
produces:
  - application/json
  - image/png
  - image/jpeg
  - application/zip

parameters:
  sessionToken:
    name: token
    in: header
    description: token to be passed as a header
    required: true
    type: string
    format: string
  apikey:
    name: apikey
    in: header
    description: apikey to be passed as a header
    required: true
    type: string
    format: string
  vehicleRegNo:
    name: vehicleRegNo
    in: path
    description: vehicle Reg No
    required: true
    type: string
    format: string
  currentDate:
    name: currentDate
    in: query
    description: startDate to track the vehicle
    required: true
    type: string
    format: date
  latitude:
    name: latitude
    in: query
    description: latitude
    required: true
    type: string
    format: number
  longitude:
    name: longitude
    in: query
    description: longitude 
    required: true
    type: string
    format: number
  startDate:
    name: startDate
    in: query
    description: startDate to track the vehicle
    required: true
    type: string
    format: date
  endDate:
    name: endDate
    in: query
    description: endDate to track the vehicle
    required: true
    type: string
    format: date
  driverId:
    name: driverId
    in: path
    description: driver Id
    required: true
    type: string
    format: string
  dealerId:
    name: dealerId
    in: path
    description: dealer Id
    required: true
    type: string
    format: string
  userId:
    name: userId
    in: path
    description: user Id
    required: true
    type: string
    format: string
  name:
    name: name
    in: path
    required: true
    description: geofence name
    type: string
    format: string
  routeName:
    name: routeName
    in: path
    required: true
    description: Route name
    type: string
    format: string
  tripName:
    name: tripName
    in: path
    required: true
    description: Trip name
    type: string
    format: string
  status:
    name: status
    in: query
    required: true
    description: Trip status
    type: string
    format: string
    
  activityId:
    name: activityId
    in: query
    required: true
    description: Trip activityId
    type: string
    format: string
  usergroupid:
    name: usergroupid
    in: path
    required: true
    description: user group id
    type: string
    format: string
    
paths:
  /:
    get:
      summary: Return API version
      responses:
        200:
          description: API version information
          schema:
            type: object
            required:
              - name
              - version
            properties:
              name:
                type: string
              version:
                type: string
          examples:
            application/json:
              name:  Digisense API
              version: "1.0"
  /login:
    post:
      tags:
      - Login
      description: Login using Mahindra DiGiSENSE Credentials. Shall return an authentication and authorization token on success
      parameters:
        - name: usercredentials
          in: body
          required: true
          description: The login credentials
          schema:
            $ref: '#/definitions/LoginCredentials'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LoginSuccessResponse'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            $ref: '#/definitions/LoginError'
  /forgotPassword:
    post:
      tags:
      - Login
      description: Should use the standard forgot password for DiGiSENSE.
      parameters:
        - name: forgotusercredentials
          in: body
          required: true
          description: The login credentials
          schema:
            $ref: '#/definitions/ForgotLoginCredentials'
      responses:
        '200':
          description: Success
          schema:
            type: string
            format: string
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            $ref: '#/definitions/LoginError'
  /resetPassword:
    post:
      tags:
      - Login
      description: Should use the standard forgot password for DiGiSENSE.
      parameters:
        - name: forgotusercredentials
          in: body
          required: true
          description: The login credentials
          schema:
            $ref: '#/definitions/ResetLoginCredentials'
      responses:
        '200':
          description: Success
          schema:
            type: string
            format: string
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            $ref: '#/definitions/LoginError'
  /changePassword:
    post:
      tags:
      - Login
      description: Should use the standard forgot password for DiGiSENSE.
      parameters:
        - name: changeusercredentials
          in: body
          required: true
          description: The login credentials
          schema:
            $ref: '#/definitions/ChangeLoginCredentials'
      responses:
        '200':
          description: Success
          schema:
            type: string
            format: string
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            $ref: '#/definitions/LoginError'
  /services:
    get:
      tags:
        - ServiceAvailable
      description: get list of available services for current logged in  user
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/service'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.            
  /services/{userId}:
    get:
      tags:
        - ServiceAvailable
      description: get list of available services for specific user
      parameters:
        - $ref: "#/parameters/userId"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/services'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /userrole:
    get:
      tags:
        - Role
      description: get list of roles for current user.
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    post:
      tags:
        - Role
      description: add a role to current user.
      parameters:
        - name: roles
          in: body
          required: true
          description: add roles
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /role:
    get:
      tags:
        - Role
      description: get list of roles.
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    post:
      tags:
        - Role
      description: create new roles.
      parameters:
        - name: roles
          in: body
          required: true
          description: new roles
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/role'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /usergroups:
    get:
      tags:
        - UserGroup
      description: get avialable user groups.
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
              format: string
              description: user group id.
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /usergroups/{usergroupid}:
    get:
      tags:
        - UserGroup
      description: get user group details.
      parameters:
        - $ref: "#/parameters/usergroupid"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UserGroup'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    patch:
      tags:
        - UserGroup
      description: get user group details.
      parameters:
        - $ref: "#/parameters/usergroupid"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: user group
          in: body
          required: true
          description: user group
          schema:
            $ref: '#/definitions/UserGroup'
      responses:
        '200':
          description: Success
          schema:
              $ref: '#/definitions/UserGroup'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    delete:
      tags:
        - UserGroup
      description: delete user group details.
      parameters:
        - $ref: "#/parameters/usergroupid"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: string
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /listVehicles:
    get:
      tags:
        - Vehicle
      description: Get the list of vehicles. All the vehicles under the login with  vehiclePlatform,  vehicleModel, variant, registration number, current status, last updated timestamp, last known location, priority alert status, current address of the location to be sent
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /listVehicles/mtbd:
    get:
      tags:
        - Vehicle
      description: Get the list of MTBD vehicles. All the vehicles under the login with  vehiclePlatform,  vehicleModel, variant, registration number, current status, last updated timestamp, last known location, priority alert status, current address of the location to be sent
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /vehicles:
    get:
      tags:
        - Vehicle
      description: get list of vehicles
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Vehicle'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /vehicleMappingWithDriver/{vehicleRegNo}/{driverId}:
    post:
      tags:
        - Vehicle
      description: map vehicle with driver.
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/driverId"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VehicleInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /vehiclesSummary/{vehicleRegNo}:
    get:
      tags:
        - Vehicle
      description: Summary information for the vehicle. 
                    vehicleRegNo= 
                    vehicleLastUsedOn=
                    "If the Platform is MTBD information to be sent are
                    totalUsage=
                    vehicleRunningHours
                     vehicleIdleHours"
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehiclesSummary'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /liveVehicleInformation/{vehicleRegNo}:
    get:
      tags:
        - Vehicle
      description: Get the live vehicle parameters. A client which refresh this API at 1 minute to get latest information. Following information to be returned 
        vehicleRegNo
        status
        lastupdated 
        If the Platform is MTBD information to be sent are
        highEngineTemperature
        engineRPM
        fuelLevel
        vehicleHealth
        fuelEfficiencyA
        fuelEfficiencyB
        averageVehicleSpeed
        engineOilPressure
        driverName
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LiveVehicleInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /vehicles/{vehicleRegNo}/driver:
    get:
      tags:
        - Vehicle
      description: get driver information for vehicle
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Driver'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /vehicles/{vehicleRegNo}/dealers:
    get:
      tags:
        - Dealers
      description: get list of dealers for the current (based on platform and model). The list to be sorted in the distance from vehicle’s current location. Nearest dealer to be the first one in the response. Response should have dealer name, address, phone number, location(latitude, longitude)
                  Get a list of parts available with dealers
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Dealer'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /vehicles/dealers:
    get:
      tags:
        - Dealers
      description: get list of dealers for the current (based on platform and model). The list to be sorted in the distance from given location. Nearest dealer to be the first one in the response. Response should have dealer name, address, phone number, location(latitude, longitude)
                  Get a list of parts available with dealers
      parameters:
         - $ref: "#/parameters/latitude"
         - $ref: "#/parameters/longitude"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Dealer'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /vehicles/{vehicleRegNo}/spares:
    get:
      tags:
        - Spare
      description: Get a list of spares for current vehicle (based on platform and model). 
        Response should include 
        Sparename
        Spareid
        Details 
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Spare'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /vehicles/{vehicleRegNo}/{dealerId}/spareRequest:
    post:
      tags:
        - Spare
      description: Order a part. Should accept one value from list of options or “Others”. Additional information to be captured as “description” of service required, nearest landmark/location for arranging the service.Should cascade to dealer management network with selected dealer, location of vehicle, landmark and additional information.  Should  create a request number for tracking.
      parameters:
        - $ref: "#/parameters/vehicleRegNo"
        - $ref: "#/parameters/dealerId"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: spares
          in: body
          required: true
          description: spares
          schema:
            $ref: '#/definitions/Spare'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/SparesWithRequestId'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /vehicleAlerts/{vehicleRegNo}:
    get:
      tags:
        - Vehicle Alerts
      description: List of alerts for a given vehicle with 
                  Name, type, location, priority, timestamp. All the alerts specified for the given platform should be enumerated in the above mentioned format
      parameters:
         - $ref: "#/parameters/startDate"
         - $ref: "#/parameters/endDate"
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/GeneralAlert'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.    
  
  /vehicleAlerts:
    get:
      tags:
        - Vehicle Alerts
      description: get list of all vehicles alert.
      parameters:
         - $ref: "#/parameters/startDate"
         - $ref: "#/parameters/endDate"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleAlerts'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /reportSummary:
    get:
      tags:
        - Report
      description: Get Summary of reports for given platform
            If the Platform is MTBD, report summary should contain 
            Vehiclemovement
            Distance
            Current month
            Previous month
            Total Usage
            Current month
            Previous month
            Idle Time 
            Current month
            Previous month
            VehicleHealth
            Totalbreakdowns occurred
            Total breakdowns closed
            Count for each status (Good/Bad/Warming) 
            Delivery 
            Planned = 
            Actual 
            Utilization percentage current month
            Utilization percentage previous month 
            Number of deliveries current
            Number of deliveries previous month
            Driver Comparison
            Driver Ranking 
            Distance Covered
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Reportsummary'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /journeysummary:
    get:
      tags:
        - Journey Summary
      description: Get Summary of reports for given platform
            If the Platform is MTBD, report summary should contain 
            Vehiclemovement
            Distance
            Current month
            Previous month
            Total Usage
            Current month
            Previous month
            Idle Time 
            Current month
            Previous month
            VehicleHealth
            Totalbreakdowns occurred
            Total breakdowns closed
            Count for each status (Good/Bad/Warming) 
            Delivery 
            Planned = 
            Actual 
            Utilization percentage current month
            Utilization percentage previous month 
            Number of deliveries current
            Number of deliveries previous month
            Driver Comparison
            Driver Ranking 
            Distance Covered
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/JourneySummary'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /reportSummary/{vehicleRegNo}:
    get:
      tags:
        - Report
      description: get report summary of vehicles
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/startDate"
         - $ref: "#/parameters/endDate"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Reportsummary'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /report/{vehicleRegNo}:
    get:
      tags:
        - Report
      description: get report summary of vehicles
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/startDate"
         - $ref: "#/parameters/endDate"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReportByVehicle'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /localrepair:
    get:
      tags:
        - LocalRepair
      description: Get a list of high level local repair types. Battery, Tyre Puncture, JumpStart… 
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Repair'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /localrepair/{vehicleRegNo}:
    get:
      tags:
        - LocalRepair
      description: Get details of local repair done for the vehicle. Category/Title Battery, Date of repair, amount, repair station details
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/RepairWithDetail'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    put:
      tags:
        - LocalRepair
      description: Create a local repair entry with date, summary/description, expense amount, repair station details (address, phone)
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
         - name: spares
           in: body
           required: true
           description: spares
           schema:
             $ref: '#/definitions/RepairWithDetailRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RepairWithDetail'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /expenseCategory:
    get:
      tags:
        - Expense
      description: get list of available expense types.
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ExpenseType'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    post:
      tags:
        - Expense
      description: get list of available expense types.
      parameters:
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
         - name: expenseType
           in: body
           required: true
           description: expense
           schema:
             $ref: '#/definitions/ExpenseType'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ExpenseType'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /tripexpense/{vehicleRegNo}:
    get:
      tags:
        - Expense
      description: View incidental expenses for ongoing/completed trips
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ExpenseSummary'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    put:
      tags:
        - Expense
      description: Add incidental expenses by the driver.  This for an ongoing/completed trip. Inputs will be date, description, amount. 
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
         - name: expense
           in: body
           required: true
           description: expense
           schema:
             $ref: '#/definitions/Expense'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Expense'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /profile:
    get:
      tags:
        - Profile
      description: get user inforamtion
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
                $ref: '#/definitions/Attributes'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    patch:
      tags:
        - Profile
      description: get user inforamtion
      parameters:
        - name: profile inforamtion
          in: body
          required: true
          description: profile inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/Attribute'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
                $ref: '#/definitions/Attribute'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /driverProfiles:
    get:
      tags:
        - Profile
      description: get drviers information
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
                $ref: '#/definitions/DriverProfileInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.      
  
  /driverProfiles/{driverId}:
    get:
      tags:
        - Profile
      description: get user information
      parameters:
        - $ref: "#/parameters/driverId"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DriverProfileInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    patch:
      tags:
        - Profile
      description: get user inforamtion
      parameters:
        - $ref: "#/parameters/driverId"
        - name: profile inforamtion
          in: body
          required: true
          description: profile information
          schema:
            type: array
            items:
              $ref: '#/definitions/Attribute'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DriverProfileInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /driverProfiles/createDriver:
    post:
      tags:
        - Profile
      description: create driver information
      parameters:
        - name: profile inforamtion
          in: body
          required: true
          description: profile inforamtion
          schema:
            $ref: '#/definitions/DriverProfile'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DriverProfileInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /profile/alertConfiguration:
    get:
      tags:
        - Profile
      description: get user alert Configuration inforamtion
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AlertConfiguration'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    patch:
      tags:
        - Profile
      description: update  user alert configuration
      parameters:
        - name: alert configuration
          in: body
          required: true
          description: profile inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/AlertInfo'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
                $ref: '#/definitions/Attribute'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /locationHistory/{vehicleRegNo}:
    get:
      tags:
        - LocationHistory
      description: LocationHistory  For a given vehicle, get the waypoints along with date and timestamp. Inputs are start date, time and end date time.
      parameters:
         - $ref: "#/parameters/vehicleRegNo"
         - $ref: "#/parameters/startDate"
         - $ref: "#/parameters/endDate"
         - $ref: "#/parameters/sessionToken"
         - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleLocationInfo'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /geofence:
    post:
      tags:
        - GeoFence
      description: Create GeoFence. The API takes 3 or more geographical points as input along with a unique name. Points should be within Indian Political boundaries. None of the points should be in ocean. 
      parameters:
        - name: geofence
          in: body
          required: true
          description: geofence inforamtion
          schema:
            $ref: '#/definitions/GeoFence'
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/GeoFence'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  /geofence/{name}:
    get:
      tags:
        - GeoFence
      description: Read  GeoFence details.This provides points for the named geofence
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/GeoFence'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    patch:
      tags:
        - GeoFence
      description: update the GeoFence.Add new points.Change existing points.Similar condition checks like 9.01.
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: points
          in: body
          required: true
          description: profile inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/GeoFence'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    delete:
      tags:
        - GeoFence
      description: Delete a named geofence. Cascade to mapping of vehicles to the corresponding geofence 
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /geofence/{name}/vehicles:
    get:
      tags:
        - GeoFence
      description: Get Geofences for a given vehicle. Lists currently active geofences (based on the date)
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    put:
      tags:
        - GeoFence
      description: insert vehicle geofence
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: vehicle
          in: body
          required: true
          description: profile inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfo'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    delete:
      tags:
        - GeoFence
      description: delete vehicle geofence
      parameters:
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: vehicleInfoId
          in: body
          required: true
          description: vehicleInfoIds inforamtion
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /routePlan:
    get:
      tags:
        - Route
      description: Get all the available plans
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Route'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    post:
      tags:
        - Route
      description: add new Route
      parameters:
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: route
          in: body
          required: true
          description: route inforamtion
          schema:
            $ref: '#/definitions/RouteInformation'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /routePlan/{routeName}:
    get:
      tags:
        - Route
      description: get Route information
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    put:
      tags:
        - Route
      description: add points to the route/Update ongoing trip. Similar to Create Route. But applicable with existing points which are not marked with delivery/pick up completed could be either deleted. Or Additional pick up/delivery to be added. This has to create a new entry in the routeplan.
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: points
          in: body
          required: true
          description: points for route inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/RoutePoint'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RouteInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    delete:
      tags:
        - Route
      description: Delete Route.  Cascade to mapping of vehicles to the corresponding route for ongoing/upcoming
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: points
          in: body
          required: true
          description: points for route inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/RoutePoint'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteInformation'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
  
  /routePlan/{routeName}/mapVehicle:
    post:
      tags:
        - Route
      description: get Route information
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: VehicleInfoWithGeoFence
          in: body
          required: true
          description: route inforamtion with vehicle 
          schema:
            $ref: '#/definitions/VehicleInfoWithGeoFence' 
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RouteDetail'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
                
  /routePlan/{routeName}/vehicles:
    get:
      tags:
        - Route
      description: Get vehicles (trip details) mapped to the given routeplan
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    post:
      tags:
        - Route
      description: Assign Route to one or more vehicles. Parameters are geofence-name, start date, end date, start time,end time and vehicle registration numbers. This creates one trip per vehicle for the given dates. 
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: points
          in: body
          required: true
          description: points for route inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfo'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.
    delete:
      tags:
        - Route
      description: delete vehicles from the route
      parameters:
        - $ref: "#/parameters/routeName"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
        - name: poiints
          in: body
          required: true
          description: points for route inforamtion
          schema:
            type: array
            items:
              $ref: '#/definitions/vehicleInfoId'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/VehicleInfoWithID'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
        '401':
          description: Error
          schema:
            $ref: '#/definitions/AuthFailed'
        '429':
          description: Error
          schema:
            $ref: '#/definitions/RateLimitError'
        '302':
          description: Error
          schema:
            $ref: '#/definitions/RedirectURL'
        '500':
          description: Error
          schema:
            $ref: '#/definitions/ServerError'
        '503':
          description: Error
          schema:
            $ref: '#/definitions/MaintenanceError'
        default:
          description: Error
          schema:
            type: object
            properties:
              code:
                type: integer
                format: int32
                description: Error code.
              message:
                type: string
                description: Invalid request.

  /trip/{tripName}/{vehicleRegNo}:
    get:
      tags:
        - TripManagement
      description: Status Update- start trip.update the status of trip as started
      parameters:
        - $ref: "#/parameters/tripName"
        - $ref: "#/parameters/vehicleRegNo"
        - $ref: "#/parameters/sessionToken"
        - $ref: "#/parameters/apikey"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TripPlan'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/BadRequest'
[...]
